body {
    /* google font => 구글 나눔고딕 */
    font-family: 'Nanum Gothic', sans-serif;
    height: 3000px;
}

/* google material icon */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    /* font-size: 48px; */
}

/* ★로고 이미지의 여백을 없애기 위해 이미지를 block으로 변경 */
img {
    display: block;
}

a {
    /* 하이퍼링크의 밑줄 제거 */
    text-decoration: none;
}

header {
    background-color: rgb(246, 245, 240);
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
        width: 100%;
}

header .inner {
    width: 1100px;
    /* 범위를 알기위한 배경 색 */
    /* background-color: orange; */
    /* 중앙 정렬 */
    margin: 0 auto;
    /* 로고 - 수직 정렬 */
    position: relative;
}

header>.inner {
    height: 120px;
    background-color: rgb(246, 245, 240);
    /* z-index: 1; */
}

header .inner .logo {
    /* 수직 정렬 */
    position: absolute;
    height: 75px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
}


header .sub-menu {
    /* 서브 메뉴, 검색을 수평 정렬 */
    display: flex;
    position: absolute;
    top: 10px;
    right: 0px;
}

header .sub-menu ul.menu {
    display: flex;
    font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    /* 수직 중앙정렬 */
    top: 0;
    bottom: 0;
    margin: auto 0;
}

/* sub-menu 제일 왼쪽 작대기 없애기 */
header .sub-menu ul.menu li:first-child::before {
    display: none;
}

header .sub-menu ul.menu li a {
    /* background-color: #fff; */
    font-size: 13px;
    display: block;
    padding: 10px;
    color: rgb(120, 119, 118);
    padding: 11px 16px;
}

header .sub-menu ul.menu li a:hover {
    text-decoration: underline;
    color: #000;
}

header .sub-menu .search {
    /* 범위를 알기위한 배경 색 */
    /* background-color: red; */
    height: 34px;
    position: relative;
}

header .sub-menu .search:hover {
    cursor: pointer;
}

header .sub-menu .search input {
    height: 34px;
    box-sizing: border-box;
    padding: 4px 10px;
    border: 1px solid #777;
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: #777;
    width: 36px;
    transition: width 0.4s;
}

header .sub-menu .search input:focus {
    border-color: #669900;
    width: 190px;
}

header .sub-menu .search .material-symbols-outlined {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
}

header .main-menu {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

header .main-menu .item {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

header .main-menu .item .item_name {
    padding: 10px 20px 34px 20px;
}

header .main-menu .item:hover .item_name {
    background-color: #2C2A29;
    color: rgb(102, 139, 27);
    border-radius: 6px 6px 0 0;
}

header .main-menu .item .item_contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item_contents {
    display: block;
}

header .main-menu .item .item_contents .contents_menu {
    background-color: #2C2A29;
    /* height: 270px; */
    color: white;
}

header .main-menu .item .item_contents .contents_menu>ul {
    padding: 20px 0;
    display: flex;
}

header .main-menu .item .item_contents .contents_menu>ul>li {
    width: 220px;
}

header .main-menu .item .item_contents .contents_menu>ul>li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}

header .main-menu .item .item_contents .contents_menu>ul>li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

header .main-menu .item .item_contents .contents_menu>ul>li ul li:hover {
    color: rgb(102, 139, 27);
}

header .main-menu .item .item_contents .contents_texture {
    padding: 26px 0;
    /* height: 100px; */
    background-image: url(../images/main_menu_pattern.jpg);
    font-size: 12px;
}

header .main-menu .item .item_contents .contents_texture h4 {
    color: #999;
    font-weight: 900;
    margin-bottom: 7px;
}

header .main-menu .item .item_contents .contents_texture p {
    color: rgb(102, 139, 27);
    margin: 4px 0 18px;
}

/* 사진 고정 */
header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
    /* 상단 메뉴를 볼 때, badges를 가리기 위함 
       =>header .inner 에서 z-index 값을 +1 해주어도 됨 */
    z-index: -1;
}

header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    cursor: pointer;
    /* 그림자: 위치, 크기 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0.15);
}